{{#each items}}
<li class="list__friend" id="{{ id }}" draggable="true">
        <img class="list__avatar" src="{{photo_50}}" alt="аватар">
        <div class="list__initials">{{first_name}}  {{last_name}}</div>
        <img class="list__add" src="/src/images/add.png" alt="добавить в список">
    </li>

{{/each}}